.second-section {
  padding: 1.5rem;
  padding-top: 0;
  margin: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

#date {
  margin-top: 1rem;
  border-style: double;
  border-color: lightseagreen;
  width: 23%;
  height: 2rem;
  border-radius: 4px;
}

.calendar-hour {
  height: 3rem;
  margin: 0.5rem 0;
  padding-left: 1rem;
  padding-top: 0.5rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  color: darkslategray;
}

.calendar-hour-night {
  background-color: gray;
  color: whitesmoke;
}

.calendar-day {
  color: chartreuse;
}

.calendar {
  position: relative;
}

.calendar-meeting {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex-flow: column;
  position: absolute;
  width: 98.5%;
  top: 630px; /* ( 40 + 2 ) * 7 + 20 */
  height: 3rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: lightseagreen;
  overflow: hidden;
}

.calendar-meeting:hover {
  overflow: auto;
  height: auto;
  box-shadow: 2px 2px 1px rgba(219, 83, 83, 0.3);
}

@media (min-width: 998px) {
  .second-section {
    flex-flow: row;
  }
  .calendar-meeting {
    flex-basis: auto;
    flex-flow: row;
  }

  .calendar-col1 {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .calendar-col2 {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
.calendar-meeting-goal {
  font-weight: 700;
  font-size: 700;
}

/*-----------------Login Popup--------------------*/

.form-popup{
  box-sizing: border-box;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 25%;
  right: 17%;
  border: 3px solid #f1f1f1;
  border-radius: 0.5rem;
  z-index: 9;
}

@media (min-width: 998px) {
  .form-popup{
    bottom: 15%;
    right: 30%;    
  }
}

.form-container {
  max-width:max-content;
  padding: 10px 10px;
  background-color: white;
}

.form-container > h1 {
  background-color: lightseagreen;
}

.login-input {
  width: 98%;
  padding: 10px;
  padding-right: 0;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.login-input:focus {
  background-color: #ddd;
  outline: none;
}

.login-button {
  background-color: lightseagreen;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.login-cancel {
  display: block;
  background-color: red;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: whitesmoke;
  margin: 0.5rem 0;
  width: 100%;
  height: 2rem;
}

.login-button:hover, .login-cancel:hover {
  opacity: 1;
}